* {
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

section {
  margin: 100px auto;
  text-align: center;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  border-radius: 20px;
}

img {
  width: 290px;
  border-radius: 10px;
}

h2 {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  padding: 0px 15px;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  padding: 0px 15px;
}